body {
    background-color: black;
    font-family: 'Nunito Sans', sans-serif;
}
#board {
  background: url(../img/board-background.jpg);
  border-radius: 20px;
  box-shadow: inset 0px 0px 50px 0px rgba(0,0,0,0.75);
  position: absolute;
  left: 20px;
  top: 20px;
  width: 1000px;
  height: 600px;
}

.paddle {
  box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
  border-radius: 7px;
  position: absolute;
  top: 250px;
  height: 100px;
  width: 20px;
}

#paddle1 {
  left: 20px;
  background-color: #960A3C;;
}

#paddle2 {
  background-color: #1A63DB;
  left: 960px;
}

#net {
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 0px;
  left: 500px;
  height: 600px;
  width: 10px;

}

#ball {
  background-color: #A3D3EF;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
  position: absolute;
  left: 495px;
  top: 300px;
  width: 20px;
  height: 20px;
}

.score span {
  font-size: 70px;
  font-weight: bolder;
  text-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.75);
  position: absolute;
  top: 20px;
}

.left {
  color: #960A3C;
  left: 250px;
}

.right {
  color: #1A63DB;
  left: 750px;
}

button {
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  color: #114496;
  font-size: 12px;
  margin: 0 10px 0 0;
  line-height: 1.8;
  padding: 5px 10px;
  position: absolute;
  bottom: 10px;
  left: 500px;
}

#winner {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  box-shadow: inset 0px 0px 50px 0px rgba(0,0,0,0.75);
  position: absolute;
  left: 20px;
  top: -1000px;
  height: 600px;
  width: 1000px;
  animation: slide 0.5s forwards;
}
#winner.hide {
  display: none;
}

@-webkit-keyframes slide {
    100% { top: 20px; }
}

@keyframes slide {
    100% { top: 20px; }
}
