body {
    background-color: black;
}
#board {
  background: url(board-background.jpg);
  position: absolute;
  left: 20px;
  top: 20px;
  width: 1000px;
  height: 600px;
  border-radius: 20px;
  /*border: 20px solid #ccc;*/
  box-shadow: inset 0px 0px 50px 0px rgba(0,0,0,0.75);
}

.paddle {
  position: absolute;
  top: 250px;
  width: 20px;
  height: 100px;
  background-color: red;
}

#paddle1 {
  left: 20px;
}

#paddle2 {
  left: 960px;
}

#net {
  height: 600px;
  width: 10px;
  background-color: #fff;
  position: absolute;
  top: 0px;
  left: 500px;

}

#ball {
  position: absolute;
  left: 495px;
  top: 300px;
  width: 20px;
  height: 20px;
  background-color: blue;
  border-radius: 10px;
}

.score span {
  position: absolute;
  color: #fff;
  top: 20px;
  font-size: 70px;
}

.left {
  left: 250px;
}

.right {
  color: red;
  left: 750px;
}

#start {
  position: absolute;
  bottom: 0px;
  left: 520px;
}

button {
  margin: 0 10px 0 0;
  padding: 5px 10px;
  font-size: 12px;
  font-family: "Bitter",serif;
  color: red;
  line-height: 1.8;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
}
