body {
    background-color: black;
}

.paddle {
  position: absolute;
  top: 400px;
  width: 20px;
  height: 100px;
  background-color: red;
}

#paddle1 {
  left: 100px;
}

#paddle2 {
  left: 1100px;
}

#ball {
  position: absolute;
  left: 600px;
  top: 450px;
  width: 20px;
  height: 20px;
  background-color: blue;
  border-radius: 10px;
}

.score span {
  color: #fff;
  font-size: 40px;
}
